:root {
  --font-family: "Georgia", sans-serif;
  --second-family: "Arial", sans-serif;
  --third-family: "Inter", sans-serif;
}

:root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
}

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

h1 {
    width: 70%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-light-xl);
}

h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-xl);
}

section {
    display: flex;
    width: 1280px;
    padding: 90px 40px;
}

.container {
    display: flex;
    justify-content: center;
}

button {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
}

.primary_button {
    width: fit-content;
    padding: 15px 45px;
    border-radius: 100px;

    background: var(--color-primary);
}

.wrapper {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

/*--START SCREEN---------------------------------------------------------------------*/

.start-screen {
    width: 1280px;
    padding: 40px 40px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.hero {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.hero__message {
    width: 38%;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.hero__message p {
    color: var(--color-dark-s)
}

.hero__img {
    width: 58%;
}

.hero__img img {
    width: 100%;
    display: block;
}

/*--ABOUT section---------------------------------------------------------------------*/

.about {
    justify-content: center;

    background: var(--color-light-xl);
}

.about__img {
    margin-right: 120px;
    display: flex;
    justify-content: center;
}

.about__message {
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*--DONATION section---------------------------------------------------------------------*/

.donation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-light-l);
}

.donation .container {
    width: 76%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.donation__img {
    width: 42%;
}

.donation__message {
    width: 40%;
    display: flex;
    flex-direction: column;
    
    gap: 20px;   
}

.donation__bank {
    width: fit-content;
    padding: 10px 15px;
    border-radius: 9px;

    display: flex;
    gap: 15px;    

    background: var(--color-primary);
}

h2 {
    display: block;
    width: 80%;
}

.donation__subheading {

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.donation__info {
    
    font-family: var(--second-family);
    font-style: italic;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-dark-m);
}

.donation__card-numbers {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

/*--DONATION section---------------------------------------------------------------------*/

footer {
    padding: 40px 40px 0 40px;

    display: flex;
    justify-content: space-between;

    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer__contacts,
.footer__address {
    width: 25%;
    height: 80%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.footer__subheading {
    font-family: var(--font-family);
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-light-xl);
}

.footer__link {
    display: flex;
    gap: 15px;
}

.footer__link a {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}