:root {
  --font-family: "Georgia", sans-serif;
  --second-family: "Arial", sans-serif;
  --third-family: "Inter", sans-serif;
}

:root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
}

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

h1 {
    width: 70%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-light-xl);
}

h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-xl);
}

.wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

section {
    display: flex;
    width: 100%;
    padding: 90px 0 90px 0;
}

.container {
    width: 1280px;
    padding: 0 40px 0 40px;
    display: flex;
    justify-content: center;
}

button {
    border-width: 0;
    box-shadow: none;
    outline: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
}

button:hover {
    cursor: pointer;
    box-shadow: none;
    background: var(--color-primary-light);
}

.primary_button {
    width: fit-content;
    padding: 15px 45px;
    border-radius: 100px;

    background: var(--color-primary);
}

.second-button {
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    padding: 15px 45px;
}

/*--START SCREEN---------------------------------------------------------------------*/

.start-screen {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.start-screen .container {
    padding-top: 30px;
    flex-direction: column;
    gap: 90px;
}

header {
    width: 100%;
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-dark-l);
}

.header-container {
    /* padding: 0; */
    display: flex;
    align-items: center;
    padding: 30px 0 30px 0;
    /* margin: 0 30px 0 30px; */
}

.pets-header .logo__title,
.pets-header .logo__subtitle,
.pets-header .logo__title,
.pets-header nav a {
    color: var(--color-dark-l);
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo__title {
    font-family: var(--font-family);
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

.logo__subtitle {
    font-family: var(--second-family);
    font-size: 13px;
    letter-spacing: 0.1em;
    color: var(--color-light-xl);
}

nav {
    display: flex;
    gap: 35px;
}

nav a {
    text-decoration: none;

    font-family: var(--second-family);
    font-size: 15px;
    line-height: 160%;
    color: var(--color-light-s);
}

nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
    text-decoration-color: var(--color-primary);
}

.hero {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.hero__message {
    width: 38%;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.hero__message p {
    color: var(--color-dark-s)
}

.hero__img {
    width: 58%;
    margin-left: 42px;
}

.hero__img img {
    width: 100%;
    display: block;
}

/*--ABOUT section---------------------------------------------------------------------*/

.about {
    background: var(--color-light-xl);
}

.about .about-container {
    display: flex;
    justify-content: center;
}

.about__img {
    margin-right: 120px;
    display: flex;
    justify-content: center;
}

.about__message {
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*--SLIDER section---------------------------------------------------------------------*/

.slider-section {
    background: var(--color-light-l);
}

.slider {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 40px;
}

.slider-section .container {
    padding-top: 0;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.slider-section h2 {
    width: 30%;
    text-align: center;
}

.slide svg:hover {
    cursor:pointer;
    border-radius: 100px;
    border: none;
    background: var(--color-primary-light);
}

.slider-wrapper {
    width: fit-content;
    overflow: hidden;
}

.slider-line {
    width: fit-content;
    display: flex;
    gap: 100px;
    overflow: hidden;

    transition: transform 1s linear;
}

.pet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
    border-radius: 9px;
    background: var(--color-light-s);
}

.pet-card figcaption {
    font-family: var(--font-family);
    font-size: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
}

/*--HELP section---------------------------------------------------------------------*/

.help {
    justify-content: center;
}

.help h2 {
    width: 35%;
    text-align: center;
}

.help .container {
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.help__list {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px 100px;
}

.help__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.help__description {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
}

/*--DONATION section---------------------------------------------------------------------*/

.donation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-light-l);
}

.donation .container {
    width: 76%;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}

.donation__img {
    width: fit-content;
}

.donation__message {
    width: 40%;
    display: flex;
    flex-direction: column;
    
    gap: 20px;   
}

.donation__bank {
    width: fit-content;
    padding: 10px 15px;
    border-radius: 9px;

    display: flex;
    gap: 15px;    

    background: var(--color-primary);
}

h2 {
    display: block;
    width: 80%;
}

.donation__subheading {

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.donation__info {
    
    font-family: var(--second-family);
    font-style: italic;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-dark-m);
}

.donation__card-numbers {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

/*--FOOTER-------------------------------------------------------------------------------*/

footer {
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 40px 40px 0 40px;

    display: flex;
    justify-content: space-between;
}

.footer__contacts,
.footer__address {
    width: 25%;
    height: 80%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.footer__subheading {
    font-family: var(--font-family);
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-light-xl);
}

.footer__link {
    display: flex;
    gap: 15px;
}

.footer__link a {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

/*--OUR PETS PAGE-------------------------------------------------------------------------------*/

.our-pets__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: yellow;
    gap: 45px;
}

.our-pets__container h2 {
    /* width: 30%; */
    text-align: center;
}

.pets-wrapper {
    width: fit-content;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}